body {
  background-color: #116b98;
  color: #ffffff;
  font-weight: bold;
}
h1,
h2 {
  text-align: center;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2d9ca;
  color: black;
  padding: 20px;
  border: 20px;
  margin: 20px;
  align-self: center;
}

#password-generated {
  padding: 10px;
  border: 10px;
  margin: 10px;
  width: 500px;
  text-align: center;
  border-color: black;
}
